*{
	margin: 5px;
	
}
div.messages{
	width: 47%;
	height:580px;
	border: 1px solid black;
	display: inline-block;
	overflow: scroll;
	/*opacity: 0.15;*/
    background-image: url('shirt.jpg');
    background-repeat: no-repeat;
    /*background-position: 50% 0;*/
   /* -ms-background-size: cover;*/
    background-size: cover;
   /* -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;*/
    /*z-index: -50;*/

}
div.users{
	width: 100px;
	height: 500px;
	border: 1px solid black;
	display: inline-block;
	vertical-align: top;
	overflow: scroll;
}
#message{
	display: inline-block;
	width: 400px;
}
#submit{
	display: inline-block;
}
h1{
	color: darkkhaki;
	font-family: Copperplate Gothic Light;
	display: block;
	margin-left: 1%;
	font-size: 40pt;
	
}
h3{
	color: darkslateblue;
	background-color: ;
	font-family: Copperplate Gothic Light;
	display: inline-block;
	margin-left: 17%;
	
}
span{
	font-size: 16pt;
	color: dodgerblue;
}

h4{
	background-color: khaki;
	color: darkslateblue;
	display: inline-block;
}
p{
	font-size: 20pt ;
	color: white;
}